body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

section.admin {
  background: #f5f5f5;
  display: none;
  min-height: calc(100vh - 146px);
}

.lightgreybg {
  background: #f5f5f5;
}

.image-upload-container {
  border: 1px solid #ddd;
  background: white;
  max-height: 255px;
  overflow-y: auto;
  text-align: center;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.image-upload-container > img {
  width: 145px;
  margin: 0 10px 10px 0;
}


.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0097e6;
  min-height: 100vh;
}
.login-wrapper > .loginform {
  width: 300px;
  background: white;
  padding: 15px;
  border-radius: 5px;
}

ul.navbar-nav.main-nav {
  font-size: 18px;
}
ul.navbar-nav.main-nav .nav-link {
  font-weight: 600;
}

.footer-bottom {
  display: flex;
  height: 60px;
  background: black;
  color: orange;
  align-items: center;
  justify-content: center;
}

.navbar-light .navbar-nav .active > .nav-link {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  color: #ff6600;
}

.addcategory {
  color: #ff6600;
  font-weight: 700;
  background: #f5f5f5;
  border-top: 1px solid #ddd;
  padding: 10px;
  font-size: 0.9em;
}

.inventorytable tbody tr td:nth-child(n+3),
.inventorytable thead tr th:nth-child(n+3) {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
